@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;600;700;900&display=swap");

.why .why-box {
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  background-color: transparent;
  border-radius: 20px;
  padding: 40px 20px 20px 20px;
  transition: ease-in all 0.5s;
  margin-bottom: 30px;
}
.why-box svg {
  width: 60px;
}
.why-box svg path,
.why-box svg g,
.why-box svg circle,
.why-box svg rect {
  fill: #fd8c0b;
}

.why .why-box h3 {
  color: #fd8c0b !important;
  padding: 20px 0px 20px 0px;
  font-size: 22px;
  line-height: 25px;
  display: block;
  font-weight: 500;
  font-family: "Cairo", sans-serif;
}
.why .why-box h4 {
  font-family: "Cairo", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: justify;
  direction: rtl;
}
.why .why-box p {
  font-family: "Cairo", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  direction: rtl;
  line-height: 2.6em;
  background: #afdff5;
  border-radius: 7px;
  margin-bottom: 1em;
}
