/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*---------------------------------------- 
1) font-family: 'Cairo', sans-serif;
2) font-family: 'CairoRegular', sans-serif;
3) font-family: 'Katibeh', sans-serif;
-------------------------------------------*/
@font-face {
  font-family: 'Cairo';
  src: url('../fonts/Cairo-Black.ttf');
}
@font-face {
  font-family: 'CairoRegular';
  src: url('../fonts/Cairo-Regular.ttf');
}
@font-face{
  font-family: 'Katibeh';
  src: url('../fonts/Katibeh-Regular.ttf');
}
/* ----------------------------------------*/
body {
color: #666666;
font-size: 14px;
font-family: "Katibeh", sans-serif;
line-height: 1.80857;
font-weight: normal;
position: relative;
/* Hide vertical scrollbar */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: normal;
  color: #FD8C0B;
  margin: 0;
}

h1 {
  font-size: 40px;
  font-family: 'Cairo', sans-serif;
}

h2{
font-size: 22px;
font-family: 'Cairo', sans-serif;
position: relative;
}

h2::after{
content: "";
position: absolute;
border:solid #FD8C0B;
border-width: 1px 0px 0px 0px;
padding: 1px;
right:50%;
-webkit-transform: translateX(150px);
    -ms-transform: translateX(150px);
        transform: translateX(150px);
top:60px;
width: 300px;
}

h2::before{
content: "";
position: absolute;
border:solid #FD8C0B;
border-width: 1px 0;
bottom: 0;
left:50%;
top:55px;
-webkit-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
        transform: translateX(-40px);
padding:5px;
width: 80px;
}
.heading::after{
content: "";
position: absolute;
border:solid #FD8C0B;
border-width: 1px 0px 0px 0px;
padding: 1px;
right:30%;
-webkit-transform: translateX(20%);
    -ms-transform: translateX(20%);
        transform: translateX(20%);
top:60px;
width: 550px;
}
h3 {
  font-size: 18px;
  font-family: 'Cairo', sans-serif;
}

h4 {
  font-size: 16px;
  font-family: 'Cairo', sans-serif;
  color: #FD8C0B;
}

h5 {
  font-size: 14px;
  font-family: 'Cairo', sans-serif;
  color: #FD8C0B;
}
p{
font-size: 18px;
}
/* --------------------- */
.text-orange{
color:#FD8C0B;
}
.text-blue{
color:#1079B6;
}
.btn-blue{
background-color: #1079B6;
}
/* start header */
/* ----------start navbar--------- */
/*nav-toggler*/
#nav-toggler{
list-style: none;
text-align: right;
position: fixed;
top:-7px;
right:0px;
left:0px;
padding:25% ;
background-color: rgba(0,0,0, 0.8);
z-index:3;
-webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
        transform: translateX(100%);
-webkit-transition: ease-in .5s;
-o-transition: ease-in .5s;
transition: ease-in .5s;
}
.floatright{
-webkit-transform: translateX(0%)!important;
    -ms-transform: translateX(0%)!important;
        transform: translateX(0%)!important;
-webkit-transition: ease-in .5s;
-o-transition: ease-in .5s;
transition: ease-in .5s;
}
/* Icon 1 */

#nav-icon1 {
display: block;
width: 50px;
height: 40px;
position:relative;
-webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
        transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}

#nav-icon1 span {
display: block;
position: absolute;
height: 5px;
width: 100%;
background: #FFF;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
        transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
top: 0px;
}

#nav-icon1 span:nth-child(2) {
top: 18px;
}

#nav-icon1 span:nth-child(3) {
top: 36px;
}

#nav-icon1.open span:nth-child(1) {
top: 18px;
-webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
        transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
opacity: 0;
left: -60px;
}

#nav-icon1.open span:nth-child(3) {
top: 18px;
-webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
        transform: rotate(-135deg);
}
/* end icon1 */

.navbar-light .navbar-nav .nav-link {
  font-family: 'Cairo',Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 17px;
  color: #FFF;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: #FD8C0B;
}
.nav-link {
font-family: 'Cairo',Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 17px;
color: #FFF;
}
.nav-link:hover{
color: #FD8C0B;
}
.active-link{
  color: #FD8C0B !important ;
  position: relative;
}
.active-link::after{
  content: ' ';
  height: 3px;
  width: 40px;
  background-color: #FD8C0B;
  position: absolute;
  bottom: 0px;
  right: 10px;
}
.navbar-light .navbar-toggler {
outline: none !important;
border: none !important;
-webkit-transition:all ease-in 1s;
-o-transition:all ease-in 1s;
transition:all ease-in 1s;
}
.nav.scrolled{
background-color: rgba(15, 15, 0, 0.7) ;
-webkit-transition: all ease-in 0.8s;
-o-transition: all ease-in 0.8s;
transition: all ease-in 0.8s;
}

/* ----------end navbar--------- */


/* ----------start home--------- */
.home{
  background-image: url('../images/gal2.jpeg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  -webkit-animation: scaleHome 30s infinite alternate;
          animation: scaleHome 30s infinite alternate;
}
@-webkit-keyframes scaleHome{
0%{
    background-image: url('../images/gal5.jpeg');
}
25%{
  background-image: url('../images/gal1.jpeg');
      
}
50%{
  background-image: url('../images/gal8.jpeg');

}
100%{
  background-image: url('../images/gal2.jpeg');


}
}
@keyframes scaleHome{
0%{
    background-image: url('../images/gal5.jpeg');
}
25%{
  background-image: url('../images/gal1.jpeg');
      
}
50%{
  background-image: url('../images/gal8.jpeg');

}
100%{
  background-image: url('../images/gal2.jpeg');


}
}
.overflow{
  position: absolute;
  top: 0px;
  background-color: rgba(0,0,0, 0.5);
  width: 100%;
  height: 100%;
}
.home .content{
  overflow: hidden;
  text-align: right;
  position: absolute;
  bottom: 45%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  right:10%;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  font-family: 'CairoRegular', sans-serif;
  font-size: 20px;
}

/* ----------end home--------- */


/* ---------- start services --------*/
.services .service-box {
-webkit-box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
border-radius: 5px;
text-align: center;
background-color: transparent;
border-radius: 20px;
padding: 40px 20px 20px 20px;
-webkit-transition: ease-in all 0.5s;
-o-transition: ease-in all 0.5s;
transition: ease-in all 0.5s;
margin-bottom: 30px;
height:100%;
}

.service-box svg {
width: 60px;
}

.service-box svg path,
.service-box svg g,
.service-box svg circle,
.service-box svg rect {
fill: #fd8c0b;
}

.services .service-box h3 {
color: #fd8c0b !important;
padding: 20px 0px 20px 0px;
font-size: 22px;
line-height: 25px;
display: block;
font-weight: 500;
font-family: "Cairo", sans-serif;
margin-bottom: 10px;
}

.services .service-box h4 {
font-family: "Cairo", sans-serif;
font-size: 14px;
text-align: justify;
direction: rtl;
margin-bottom: 20px;
}

.services .service-box p {
font-family: Arial, Helvetica, sans-serif;
font-weight: 400;
font-size: 15px;
text-align: center;
direction: rtl;
line-height: 2.6em;
background: #afdff5;
border-radius: 7px;
margin-bottom: 1em;
}
/* ----------end services--------- */


/* ----------start Clients--------- */
.clients{
  /* background-image: url('../images/ClientsSectionBackground.jpeg'); */
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center center;
  position: relative;
}
.clients .demo .item {
  padding:0px 2px  !important;
}
.overflow-clients{
  position:absolute;
  top:0px;
  height: 100%;
  width:100%;
  /* background-color: rgba(51, 46, 36, 0.2) ; */
}
.slick-prev:before, .slick-next:before {
  color: black!important;
}
.slick-next {
  right: 0px!important;
}
.slick-prev {
  left: 0px!important;
}

.slick-list {
  margin:0px 30px!important;
}


/* ----------end Clients--------- */


/* ----------start gallery--------- */
img {
max-width: 100%;
}
#app {
width: 100%;
height: 80vh;

}
.ui-big-images {
position: absolute;
height: 100%;
width: 100%;
overflow: hidden;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}
.ui-big-image {
width: 100%;
margin-right: -100%;
}
.ui-big-image img {
-o-object-fit: cover;
   object-fit: cover;
-o-object-position: center 20%;
   object-position: center 20%;
width: 100%;
height: 100%;
display: block;
}

.ui-thumbnails {
position: absolute;
width: 100%;
bottom: 0;
left: 0;
background-color: #fff;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-webkit-box-pack: start;
    -ms-flex-pack: start;
        justify-content: flex-start;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
padding: 0 ;
padding-top: 0.5rem;
padding-right: 30%;
padding-right: calc(45% + .5rem);
}
.ui-thumbnail {
display: block;
margin-right: 0.5rem;
padding: 0.5rem 0;
cursor: pointer;
}
.ui-cuticle {
background-color: #FD8C0B;
position: absolute;
bottom: 0;
height: 0.25rem;
width: 100%;
}
.ui-thumbnail > img {
width: auto;
}
.ui-content {
position: absolute!important;
width: 40%;
right: 0;
bottom: 0;
}
.ui-articles {
background: #fff;
color: #31627e;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: stretch;
    -ms-flex-align: stretch;
        align-items: stretch;
overflow: hidden;
}
.ui-article {
padding: .5rem;
width: 100%;
margin-right: -100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}
.ui-paragraph {
margin: 0;
font-family: 'Courier New', Courier, monospace;
font-size: 1rem;
text-align: right;

}
.ui-nav {
position: absolute;
right: 0;
bottom: 100%;
background: inherit;
}
.ui-nav button {
background: #fff;
border: none;
-webkit-appearance: none;
   -moz-appearance: none;
        appearance: none;
padding: 0.5em;
width: 2em;
color: #1079B6;
font-family: monospace;
-webkit-transition: inherit;
-o-transition: inherit;
transition: inherit;
-webkit-transition-duration: 300ms;
     -o-transition-duration: 300ms;
        transition-duration: 300ms;
}
.ui-nav button:hover, .ui-nav button:focus {
background: #FD8C0B;
outline: none;
}
.ui-nav button:active {
outline: none;
-webkit-transform: translateY(0.25em);
    -ms-transform: translateY(0.25em);
        transform: translateY(0.25em);
-webkit-transition-duration: 100ms;
     -o-transition-duration: 100ms;
        transition-duration: 100ms;
}
.ui-heading {
margin: 0;
margin-bottom: 0.5rem;
font-size: 2rem;
font-weight: normal;
text-align: right;
}

/* ---------------------------------- */
.ui-big-image {
opacity: 0;
-webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
        transform: translateX(-100%);
}
.ui-big-image img {
-webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
        transform: scale(0.85);
}
.ui-big-image[data-active] ~ .ui-big-image {
-webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
        transform: translateX(100%);
}
.ui-big-image[data-active] {
opacity: 1;
-webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
        transform: translateX(0%);
}
.ui-big-image[data-active] img {
-webkit-transform: scale(1);
    -ms-transform: scale(1);
        transform: scale(1);
}
/* ---------------------------------- */
.ui-article {
-webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
        transform: translateX(-100%);
}
.ui-article:before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #FD8C0B;
opacity: 1;
-webkit-transition-duration: 0.35s;
     -o-transition-duration: 0.35s;
        transition-duration: 0.35s;
z-index: 1;
}
.ui-article[data-active] ~ .ui-article {
-webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
        transform: translateX(100%);
}
.ui-article[data-active] {
-webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
        transform: translateX(0%);
}
.ui-article[data-active]:before {
opacity: 0;
}
/* ---------------------------------- */
.ui-thumbnail > img {
-webkit-filter: grayscale(100%);
        filter: grayscale(100%);
-webkit-transition-duration: 0.35s;
     -o-transition-duration: 0.35s;
        transition-duration: 0.35s;
}
.ui-thumbnail:active > img {
-webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
        transform: scale(0.9);
-webkit-transition-duration: 100ms;
     -o-transition-duration: 100ms;
        transition-duration: 100ms;
}
.ui-thumbnail:focus {
outline: none;
}
.ui-cuticle {
display: none;
}
.ui-thumbnail[data-active] > img, .ui-thumbnail:hover > img {
-webkit-filter: grayscale(0%);
        filter: grayscale(0%);
}
.ui-thumbnail[data-active] .ui-cuticle {
display: block;
}
/* ---------------------------------- */
*,*:before, *:after {
-webkit-box-sizing: border-box;
        box-sizing: border-box;
position: relative;
-webkit-transition-property: opacity, -webkit-transform, -webkit-filter;
transition-property: opacity, -webkit-transform, -webkit-filter;
-o-transition-property: transform, opacity, filter;
transition-property: transform, opacity, filter;
transition-property: transform, opacity, filter, -webkit-transform, -webkit-filter;
-webkit-transition-duration: 0.7s, 0.7s, 0.7s;
     -o-transition-duration: 0.7s, 0.7s, 0.7s;
        transition-duration: 0.7s, 0.7s, 0.7s;
-webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
     -o-transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
        transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}
.gallery .container {
background-color:  #493e56;
padding: 0!important;


}
/* ----------end gallery--------- */

/* ----------start programs--------- */
.programs{
background-image: -o-linear-gradient(top, #ffffff, #fcfcfc, #fafafa, #f7f7f7, #ffffff );
background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(#fcfcfc), color-stop(#fafafa), color-stop(#f7f7f7), to(#ffffff) );
background-image: linear-gradient(to bottom, #ffffff, #fcfcfc, #fafafa, #f7f7f7, #ffffff );
}
.programs h4{
font-weight: 500;
}

.programs .program-box{
font-family: 'Katibeh-Regular',Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
line-height: 35px;
margin: 20px 0px !important;
padding: 30px;
border-radius: 0px 40px 0px 40px;
border: 3px solid #FD8C0B;
background-color: #fff;
}
.programs .icon{
color: #fff;
}
.programs .icon:hover{
color: #fff;
-webkit-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
        transform: scale(1.2,1.2);
}
#p{
background-color: #1079B6;
padding: 10px;
border: none;
color: #fff;
border-radius: 40px 0px 40px 0px;
}
.image-program{
-webkit-animation: transform 2s infinite alternate;
        animation: transform 2s infinite alternate;
}
@-webkit-keyframes transform{
to{
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}
from{
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}
}
@keyframes transform{
to{
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}
from{
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}
}

/* ----------end programs--------- */

/* ----------start contact--------- */


#browser ul {
list-style: none;
padding: 0px;
margin: 0px!important;
}
#browser ul li{
padding: 0px;
}
#browser a {
color: white;
text-decoration: none;
font-family: 'Open Sans', sans-serif !important;
font-size: 100%;
}

#browser {
margin: 10px auto;
color: #096092;
width: 80%;
-webkit-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
text-align: right;  
font-family: 'Open Sans', sans-serif !important;
font-size: 100%;
}


.arrow {
position: absolute;
right: 3px;
top: 6px;
font-size: 1.2em;
color: #8e9699;
}

#content {
background: #fff;
}
#content:after {
content: "";
display: table;
clear: both;
}
#content #left, #content #right {
height: 100%;
}
#content #left {
float: left;
width: 75%;
position: relative;
padding: 30px 0px;

}
#content #left #map {
height: 388px;
position: absolute;
top: 20px;
left:70px;
background-size: cover;
}
#content #left #map p {
text-transform: uppercase;
padding-top: 20px;
padding-right: 50px;
font-size: 0.9em;
font-weight: 600;
color: #fff;
}
#content #left #map .zoom {
position: absolute;
right: 25px;
top: 25px;
width: 2px;
height: 70px;
background: white;
}
#content #left #map .zoom:before, #content #left #map .zoom:after {
text-align: center;
font-weight: 600;
position: absolute;
color: #1079B6;
background: white;
width: 20px;
}
#content #left #map .zoom:before {
content: '+';
top: -10px;
right: -8px;
}
#content #left #map .zoom:after {
content: '-';
bottom: -10px;
right: -8px;
}
#content #left #map .map-locator {
position: absolute;
top: 40%;
right: 50%;
border-radius: 15px;
height: 30px;
width: 30px;
background: rgba(0, 0, 0, 0.4);
border: solid 2px white;
}
#content #left #map .map-locator:before {
content: '';
position: absolute;
top: 9px;
left: 9px;
width: 8px;
height: 8px;
background: white;
border-radius: 5px;

}
#content #left #map .map-locator .tool {
position: absolute !important;
color: #394141;
left: 50px;
top: -10px;
background: white;
font-size: 0.8em;
font-weight: 600;
-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#content #left #map .map-locator .tool:before {
content: '';
position: absolute;
left: -10px;
top: 14px;
border-right: solid white 10px;
border-top: solid transparent 8px;
border-bottom: solid transparent 8px;
}

#content #left #map .map-locator .tool [class*="entypo-"] {
min-width: 25px;
display: inline-block;
text-align: center;
border-right: solid thin #CCC;
margin-right: 5px;
}
#content #left #map .map-locator .tool li {
border-bottom: solid thin #CCC;
padding: 10px;
white-space: nowrap;
position: relative;
}
#content #left #map .map-locator .tool li a {
color: #51B2D6;
}
#content #left #map .map-locator .tool li:hover [class*="entypo-"] {
color: #51B2D6;
}
#content #left #map .map-locator .tool li:hover,
#content #left #map .map-locator .tool li i:hover{
color: #51B2D6;
}
#content #left ul#location-bar {
width: 100%;
text-align: center;
display: table;
}
#content #left ul#location-bar li {
display: table-cell;
padding: 15px;
background: #096092;
border-right: solid thin #fff;
}
#content #left ul#location-bar li:last-of-type {
border-right: 0;
}
#content #left ul#location-bar li:hover {
background: #1079B6;
}
#content #left ul#location-bar .active {
background: #1079B6;
}
#content #right {
float: left;
width: 25%;
background: #fff;
font-size: 0.75em!important;
padding: 15px;
}
#content #right p{
font-size: 0.75rem!important;

}
#content #right p {
margin-bottom: 3px;
text-transform: uppercase;
}
#content #right a:hover {
color: #51B2D6;
}
#content #right #social {
display: table!important;
width: 100%;
padding:3px;
}
#content #right .social {
display: table-cell;
text-align: center;
}
#content #right .social li {
color:#8e9699!important;
font-size: 22px!important;
-webkit-transition: ease-in .5s;
-o-transition: ease-in .5s;
transition: ease-in .5s;
}
#content #right .social li:hover{
  color: #FD8C0B!important;
  -webkit-transform: translate(1px,1px) ;
      -ms-transform: translate(1px,1px) ;
          transform: translate(1px,1px) ;
}
#content #right form {
border-top: solid thin #8e9699;
border-bottom: solid thin #8e9699;
margin: 10px 0;
padding: 10px 0;
}
#content #right form input,
#content #right form button,
#content #right form textarea {
background: #ccc;
padding: 8px;
margin-bottom: 8px;
width: 100%;
color: white;
border:none;
}
#content #right form input:last-of-type,
#content #right form textarea:last-of-type {
margin-bottom: 8px ;
}

#content #right form button[type='submit'],
#content #right form textarea[type='submit'] {
text-transform: uppercase;
background: #1079B6;
width: 50%;
color: #FFF;
margin-top: 5px;
}
#content #right form button[type='submit']:hover,
#content #right form textarea[type='submit']:hover {
background: #096092; -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#content #right form input[type='textarea'],
#content #right form textarea[type='textarea'] {
min-height: 75px;
vertical-align: text-top;
}
#content #right p.other {
font-size: 0.7;
margin-bottom: 5px;
text-transform: lowercase;
font-weight: 100;
}
#content #right p.other,
#content #right p.other a {
color: #096092;
}
/* ----------end contact--------- */


/* ----------start footer--------- */
footer .icons-social{
margin-top: 30px;
padding: 5px;
background-color: #ccc;
}

.icons-social p{
font-family: 'CairoRegular',Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 17px;
color:#000;
margin: 5px !important;
}

/* ----------end footer--------- */